.header {
  width: 100%;
  background-color: #38E5FC;
  height: 11.93em;
}

.logo {
  float: left;
  margin-top: 20px;
}

.menu-nav{
  margin-left: 15em;
}

.menu-nav li {
  text-decoration: none;
  display: inline;
  margin-left: 2.5em;
  font-size: 1.2em;
  font-family: 'Roboto', Courier, Arial;
  color: #817D7D;
}

.menu-nav li:hover {
  color: #000;
}

.menu-nav a{
  text-decoration: none;
}

.form-pesquisar {
  float: right;
  display: inline-block;
  margin-top: 2.6em;
}

.form-pesquisar input {
  border: 1px solid #707070;
  height: 3em;
  width: 70%;
  font-family: 'Roboto', Courier, Arial;
}

.btn-pesquisar {
  border: 1px solid #707070;
  height: 3em;
  background-color: #38E5FC;
  font-family: 'Roboto', Courier, Arial;
}

.btn-pesquisar:hover {
  background-color: #000;
}
