.body-ofertas {
  margin-top: 5em;
}

.destaques {
  float: left;
  margin-top: 5em;
  display: block;
}

.ofertas {
  float: right;
  margin-top: 5em;

}

.btn-nova-oferta {
  border: 0px solid #707070;
  font-family: 'Roboto', Courier, Arial;
  height: 3em;
  background-color: #38E5FC;
  position: absolute;
  margin-left: 1em;
}

.btn-nova-oferta:hover {
  background-color: #04c9e3;
}

.section-nova-oferta {
  position: relative;
}

.section-ofertas-pub {
  margin-top: 6.75em;
}

.painel-ofertas {
  margin-top: 1.25em;
  height: 10em;
  background-color: #fff;
  text-align: center;
  border: 1px solid #707070;
  padding-top: 4em;
}

.ofertas-publicadas {
  border: .5px solid #94A5A8;
  box-shadow: 2px 2px 2px #879295;
  height: 22.9em;

}

.foto-publicada {
  margin-top: 3.75em;
  margin-left: 2.5em;
  height: 10em;
  float: left;
}

.texto-publicado {
  margin-top: 3.75em;
  float: right;
}

.titulo-produto {
  font-family: 'Roboto', Courier, Arial;
  font-size: 1.50em;
  color: #0A8E9F;
}

.descricao-produto {
  margin-top: 1.25em;
  font-family: 'Roboto', Courier, Arial;
  font-size: 1.50em;
}
