<div class="container ">
  <form (ngSubmit)="onSubmit()" #offerForm="ngForm">
    <div class="grid-12 form-cadastrar">
      <div class="form-group grid-12">
        <span class="label grid-3">Nome do produto </span>
        <input type="text grid-9" [(ngModel)]="offer.tituloProduto" name="tituloProduto" class="input" required />
      </div>
      <div class="form-group grid-12">
        <span class="label grid-3">Descrição </span>
        <textarea class="descricao-produto grid-7" rows="6" size="200" [(ngModel)]="offer.descricaoProduto" name="descricaoProduto"></textarea>
      </div>
      <div class="form-group grid-12">
        <span class="label grid-3">Contato </span>
        <input type="text grid-9" class="input" [(ngModel)]="offer.contato" name="contato" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-confirmar"> Cadastrar </button>
      </div>
    </div>
  </form>
</div>
